<main>
    <div class="intro bg-dark">
        <form action="/artist-search" method="GET" class="">
            <label for="titulo" class="form-label"></label>
            <input type="text" id="titulo" name="titulo" class="form-control" placeholder="Search here...">
            <button type="submit" class="btn bg-danger mt-2">Search for an Artist</button>
        </form>
    </div>
</main>